.about {
    padding-top: 54px;
    &__title {
        font-size: 44px;
        line-height: 1.2;
    }
    &__wrapper {
        margin-top: 75px;
        display: grid;
        grid-template-columns: 800px 1fr;
        gap: 30px;
    }
    &__img {
        width: 800px;
        height: auto;
        img {
            width: 100%;
            height: auto;
            // object-fit: cover;
        }
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__item {
        &-title {
            text-align: left;
            font-size: 22px;
        }
        &-text {
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            color: $content-subtitle-color;
        }
    }
}