.btn {
    color: #fff;
    width: 170px;
    height: 53px;
    background-color: $btn-color;
    // box-shadow: inset 0px -3px 0px 0px #1f4549;
    border-radius: 3px;
    font-family: 'Myriad Pro',sans-serif;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}