.btn.content__btn, .btn.promo__btn {
    width: 180px;
    text-align: center; 
    text-decoration: none;
    font-size: 14px;
}
.other-header__link_a {
    transition: all .6s;
    text-transform: capitalize;
    margin-right: 32px;
    text-decoration: none;
    color: #fff;
}
.other-header__menu li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
}
.promo .menu__close, .other-header .menu__close {
    z-index: 20;
}
.promo .header {
    justify-content: center;
}
.contacts__descr {
    padding: 0 5px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-30 {
    margin-top: 30px;
}
.site-main figcaption{
    text-align: center;
    color: #8c8c8c;
}
.wp-block-image figure img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.site-main { 
    p, .page-content__title {
        display: block;
        margin: 0 auto;
        width: 800px;
    }
    p {
        line-height: 30px;
    }
}
.page-content__title {
    font-size: 40px;
}
@media (max-width: 992px) {
    .site-main {
        p, .page-content__title {
            width: 600px;
        }    
    }
}

@media (max-width: 768px) {
    .site-main {
        p, .page-content__title {
            width: 500px;
        }    
    }    
}

@media (max-width: 576px) {
    .page-content form {
        margin-top: 20px;
    }
    .site-main {
        p, .page-content__title {
            width: 100%;
        }    
    }
}
.status {
    text-align: center;
}

.wpcf7-not-valid-tip {
    margin-top: 10px;
    text-align: center;
    font-family: 'Myriad Pro',sans-serif;
}
.wpcf7 form.invalid .wpcf7-response-output {
    border-color: unset;
    border: none;
    text-align: center;
    font-family: 'Myriad Pro',sans-serif;
}
.wpcf7 form.sent .wpcf7-response-output {
    border-color: unset;
    border: none;
    text-align: center;
    font-family: 'Myriad Pro',sans-serif;
}
.wpcf7 {
    padding-bottom: 20px;
}
.contacts__form {
    height: unset !important;
}
.grecaptcha-badge {
    display: none !important;
}

.d-block {
    display: block !important;
}
.block-center {
    margin: 0 auto !important;
}
.wp-block-embed__wrapper iframe {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 30px !important;
}
.wp-block-gallery {
    justify-content: center;
}
.blocks-gallery-item {
    width: 300px !important;
    height: 300px !important;
}
.blocks-gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
    margin:0 auto;
}
.switcher .selected {
    background: none;
    z-index: 3;
    text-align: center;
    width: 80px !important;
}
.switcher {
    font-family: 'Myriad Pro',sans-serif;
    width: 80px !important;
    background-color:rgba(0,0, 0, 0.4) !important;
    z-index: 2 !important;
}
.switcher .selected a {
    border: none !important;
    width: 50px !important;
}
.switcher .selected a:hover, .switcher .option a:hover {
    background: unset;
}
.switcher .option a.selected, .switcher .option a  {
    width: 50px !important;
    background: unset !important;
    text-align:center;
    
}
.switcher .option {
    width: 80px !important;
    border: none !important;
    background-color:rgba(0,0, 0, 0.4) !important;
    z-index: 2 !important;
}
.switcher .selected a:hover {
    background: unset !important;
}
#gtranslate_wrapper {
    right: 10px !important;
    z-index: 2 !important;
}
.content__item, .page-content__item{
    display: flex;
    flex-direction: column;
}
.content__item-descr, .page-content__descr {
    flex: 1 1 auto;
}
.page-content__descr {
    padding-bottom: 90px;
    position: relative;
}
.page-content__btn {
    position: absolute;
    bottom: 15px;
    right: 30px;
}