@media (min-width: 2250px) {
    .main {
        height: 900px;
        &__link {
            transform: translateX(37px);
        }
    }
}
@media (max-width: 2249px) {
    .main {
        &__link {
            transform: translateX(18px);
        }
    }
}
@media (max-width: 1300px) {
    .main {
        background: url('../img/1200.jpg') center center/cover no-repeat;
        &__link {
            transform: translateX(-86px);
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        .header {
            padding-top: 20px;
            &__link {
                font-size: 12px;
                a {
                    margin-right: 20px;
                    
                }
            }
        }

    }
    .content {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
        }
        &__item {
            &-descr {
                padding: 20px;
            }
            &-img {
                width: 270px;
                height: 270px;
            }
            &-text {
                font-size: 12px;
            }
            &-subtitle {
                font-size: 16px;
            }
        }
    }
    .footer {
        &__descr {
            width: 600px;
        }
    }
    .other-header {
        // padding-top: 20px;
        &__link {
            font-size: 12px;
            a {
                margin-right: 20px;
            }
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 600px 1fr;
            margin-top: 50px;
        }
        &__img {
            width: 600px;
        }
    }
    .team {
        &__wrapper {
            grid-template-columns: repeat(3, 250px);
            gap: 50px;
        }
    }
    .page-content, .team, .about {
        &__title {
            font-size: 38px;
        }
    }
    .page-content {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
        }
        &__descr {
            padding: 20px;
        }
        &__img {
            width: 270px;
            height: 270px;
        }
        &__text {
            font-size: 12px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .contacts.page-content {
        padding-top: 0;
    }
    .contacts {
        margin-top: 50px;
        
        &__form {
            margin-top: 50px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        padding-top: 50px;
        .header {
            display: none;
        }
        &__logo img {
            margin-top: 0;
        }
        .hamburger {
            display: flex;
        }
        .menu {
            top: 0;
        }
    }
    .main {
        background: url('../img/991.jpg') center center/cover no-repeat;
        &__link {
            transform: translateX(14px) translateY(-2px);
        }
    }
    .other-header {
        .hamburger {
            display: flex;
            top: 48px;
        }
        .menu {
            top: 0;
        }
        &__menu, &__wrapper {
            display: none;
        }
        &__logo {
            margin-right: 10px;
            width: 80px;
            height: 80px;
        }
        &__flag, &__title {
            display: block;
            color: #fff;
        }
        &__title {
            line-height: 30px;
            margin-right: 10px;
            font-size: 20px;
            text-align: left;
        }
    }
    .overlay {
        .video {
            width: 580px;
            height: 480px;
        }
    }
    .content {
        &__subtitle {
            width: 700px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
        &__item {
            &:nth-child(3) {
                display: none;
            }
        }
    }
    .footer {
        &__menu {
            left: 35px;
        }
        &__address {
            right: 35px;
        }
        &__copyright {
            left: 35px;
        }
        &__author {
            right: 35px;
        }
        &__descr {
            width: 500px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 1fr;
        }
        &__img {
            width: 400px;
        }
        &__item {
            &-text {
                font-size: 12px;
                line-height: 24px;
            }
            &-title {
                font-size: 18px;
            }
        }
    }
    .team {
        &__item {
            &-img {
                width: 150px;
                height: 150px;
            }
        }
        &__wrapper {
            margin-top: 50px;
            grid-template-columns: repeat(2, 250px);
        }
        
    }
    .page-content, .team, .about, .sponsors {
        padding-top: 30px;
        &__title {
            font-size: 32px;
        }
    }
    .page-content {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
    }

    .sponsors {
        &__wrapper {
            grid-template-columns: repeat(2, 250px);
        }
        &__item {
            transform: none;
            opacity: 1;
            filter: blur(0);
            &:hover {
                transform: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px
    }
    .main {
        background: url('../img/768.jpg') center center/cover no-repeat;
        &__link {
            transform: translateX(13px) translateY(3px);
        }
    }
    .overlay {
        .video {
            width: 400px;
            height: 350px;
        }
    }
    .content {
        padding-top: 50px;
        &__subtitle {
            width: 550px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,250px);
        }
        &__item {
            &-img {
                height: 250px;
                width: 250px;
                &:hover {
                    filter: opacity(100%);
                    transform: scale(1);
                }
            }
        }
    }
    .footer {
        &__menu {
            display: none;
        }
        &__address {
            position: unset;
            text-align: center;
            margin-top: 10px;
        }
        &__bottom {
            height: 100px;
            padding-top: 35px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__img {
            margin: 0 auto;       
        }
        &__item {
            margin-top: 15px;
            &-title {
                text-align: center;
                font-size: 20px;
            }
            &-text {
                font-size: 14px;
            }
        }
    }
    .team {
        &__wrapper {
            gap: 30px;
        }
    }
    .page-content {
        &__wrapper {
            grid-template-columns: repeat(2,250px);
            gap: 30px;
        }
        &__img {
            width: 250px;
            height: 250px;
            &:hover {
                filter: opacity(100%);
                transform: none;
            }
        }
    }
    .contacts {
        &__form {
            width: 400px;
        }
        &__input {
            width: 350px;
        }
        &__textarea {
            width: 350px;
            height: 250px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        // margin: 0;
        padding: 0 15px;
    }
    .team {
        &__wrapper {
            grid-template-columns: 250px;
            margin-top: 30px;
        }
    }
    .main {
        background: url('../img/576.jpg') center center/cover no-repeat;
        &__link {
            transform: translateX(43px) translateY(2px);
        }
    }
    .promo, .other-header {
        .menu {
            &__block {
                width: 100%;
                padding-top: 30px;
                padding-left: 30px;
            }
            &__social {
                bottom: 40px;
                a {
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .promo {
        padding-top: 80px;
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 26px;
        }
        &__logo img {
            width: 150px;
            height: 150px;
        }
    }
    .overlay {
        .close {
            top: -28px;
            right: -16px;
            font-size: 33px;
        }
        .video {
            width: 250px;
            height: 300px;
        }
    }
    .content {
        padding-top: 50px;
        &__subtitle {
            width: 250px;
            font-size: 15px;
            line-height: 24px;
        }
        &__wrapper {
            grid-template-columns: repeat(1,250px);
        }
        &__item {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .footer {
        margin-top: 30px;
        &__descr {
            width: 280px;
        }
        &__copyright, &__author {
            position: unset;
            text-align: center;
        }
        &__bottom {
            position: unset;
            height: 150px;
        }
        &__developer {
            margin-bottom: 25px;
        }
    }
    .about {
        &__img {
            width: 280px
        }
    }
    .page-content {
        form {
            display: block;
            width: 270px;
            margin: 0 auto;
        }
        &__wrapper {
            grid-template-columns: repeat(1, 250px);
        }
        &__text {
            margin-top: 14px;
            font-size: 12px;
            line-height: 18px;
        }
        &__subtitle {
            font-size: 20px;
            line-height: 20px;
        }
        &__descr {
            padding: 20px;
        }
    }
    .contacts {
        &__form {
            width: 100%;
        }
        &__input {
            width: 90%;
            padding: 0px 15px;
        }
        &__textarea {
            width: 90%;
            height: 220px;
            padding: 15px;
        }
    }
    .sponsors {
        &__wrapper {
            grid-template-columns: 200px;
            grid-template-rows: 200px;
            gap: 10px;
        }
    }
}

@media (max-width: 430px) {
    .other-header {
        height: 110px;
        &__logo {
            width: 80px;
            height: 80px;
        }
        &__title {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
        .hamburger {
            top: 45px;
            right: 15px;
        }
    }
}

@media (max-width: 370px) {
    .other-header {
        &__flag {
            display: none;
        }
    }
} 



