.page-content {
    padding-top: 54px;
    &__title {
        font-size: 48px;
    }
    &__wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,350px);
        gap: 30px;
        margin-top: 55px;
    }
    &__item {
        margin: 0 auto;
        
    }
    &__descr {
        background-color: #fff;
        padding: 21px 27px 25px 38px;
        box-shadow: inset 0px -3px 0px 0px #1f4549;
    }
    &__img {
        transition: all 600ms;
        width: 350px;
        height: 350px;
        margin: 0 auto;
        display: block;
        &:hover {
            // filter: hue-rotate(90deg);
            filter: opacity(80%);
            transform: scale(0.97);
        }
        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__subtitle {
        font-family: 'Bahnschrift', sans-serif;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        color: $content-subtitle-color;
        text-align: left;
    }
    &__text {
        margin-top: 14px;
        font-family: 'Bahnschrift', sans-serif;
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: $content-subtitle-color;
    }
    &__btn {
        margin: 0 0 0 auto;
        margin-top: 25px;
        font-size: 13px;
    }
}