.sponsors {
    padding-top: 54px;
    &__wrapper {
        margin-top: 55px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: 250px;
        grid-auto-rows: 250px;
        gap: 30px;
    }
    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    &__item {
        transform: 
            perspective(800px)
            rotateY(25deg)
            scale(0.9)
            rotateX(10deg);
            filter: blur(2px);
            opacity: 0.5;
            transition: 0.6s ease all;
        &:hover {
            transform: 
                perspective(800px)
                rotateY(-15deg)
                translateY(-50px)
                rotateX(10deg)
                scale(1);
            filter: blur(0);
            opacity: 1;
        }
    }
}