.team {
    padding-top: 54px;
    &__title {
        font-size: 48px;
    }
    &__wrapper {
        // justify-content: center;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(4, 250px);
        justify-content: center;
        // grid-template-rows: minmax(320px);
        // grid-auto-rows: minmax(320px);
        gap: 40px;
    }
    &__item {
        min-height: 330px;
        width: 250px;
        &-img {
            width: 215px;
            height: 215px;
            margin: 0 auto;
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &-link {
            display: block;
            margin-top: 7px;
            text-align: center;
            font-size: 13px;
            color: $content-subtitle-color;
        }
        &-title, &-subtitle {
            text-align: center;
            color: $content-subtitle-color;
            font-family: 'Bahnschrift', sans-serif;
        }
        &-title {
            margin-top: 13px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
        }
        &-subtitle {
            font-size: 14px;
            font-weight: 300;
        }
        &-icon {
            margin-top: 12px;
            display: block;
            a {
                width: 24px;
                height: 24px;
                display: block;
                margin: 0 auto;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    
}