.title {
    text-align: center;
    font-weight: 700;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 30px;
    color: $title-color;
    margin: 0;
}

.subtitle {
    margin: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 20px;
}