$hover-color: #c7b299; 
$title-color: #555555;
$btn-color: #32827d;
$content-subtitle-color: #8c8c8c;
$content-descr-color:#143735;
$content-text-color: #d7d7d7;
$footer-bg-color: #191919;
$footer-bottom-color: #111111;
$footer-author-color:#959595;
$header-bg-color: #1f4549;
$form-bg-color: #dbd8cd;